/* css style for navigation bar */


#nav {
  background-color: #fafdfdda;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  height: 20px;
}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#nav-list li {
  margin-right: 40px;
}

nav a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}


#about-image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  background-color: #292929;
  color: #292929;
}

#about-image img {
  max-width: 100%;
  height: auto;
}

#eventList {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  align-items: center;
  padding-top: 10px;
}

.card-img-top {
  height: 350px;
  width: 400px; 
  object-fit: cover; 
}

nav a:hover {
  text-decoration: underline;
}

#search-container {
  display: flex;
  flex-grow: 1;
  margin: auto;
}

#search-bar {
  width: 300px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#search-button {
  height: 40px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background: #fff;
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
}


.dark-mode {
  background-color: black;
  color: white;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


#logo {
  height: 400px;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

h1 {
  font-family: 'Aoboshi One';
  font-size: 60px;
  font-weight: 800;
  color: #0a544fda;
  border: 0.5px;
  border-color: #0a544fda;
  border-width: 20cm;
  padding: 0.05em;
  background: none;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 75%;
  margin-right: auto;
  flex: 1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  align-items: center;
  margin: 0;
}


/* Map Container */
#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

.paws-b {
  background-repeat: repeat-x;
  background-size: contain;
  height: 50px;
  width: 100%;
  opacity: 50%;
}

/* Style for the footer */
footer {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: large;
  font-weight: bold;
}

/* Style for links in the footer */
footer a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  text-decoration: underline;
}

/* Style for the list inside the footer */
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style for each list item in the footer */
.footer-item {
  display: inline-block;
  margin-right: 20px; 
  font-weight: 100;
  font-size: medium;
}

/* about me pawprint styling */
.paws {
  background-image: url("./images/pawprint.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  height: 150px;
  width: 100%;
}

/* about me */
h2, p {
  font-family: Arial, Helvetica, sans-serif; 
  display: flex;
  justify-content: center;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: gray;
}

/* footer */
h6 {
  border-top: 2px solid grey; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 10px;
  padding-top: 10px;
}
